@import '../../../../styles/variables';
@import '../../../../styles/mixins/customise-elem.scss';
@import '../../../../styles/mixins/size-mixins.scss';

// Хедер и форма

.header {
  z-index: 1;
  position: absolute;
  width: 844px;
  height: 310px;
  border-radius: 12px 12px 0 0;
  align-items: center;
  background: $header-color;
}

.head-text {
  position: absolute;
  margin: 90px 66px;
  font-size: 36px;
  color: $header-text-color;
}

.head-text__head-subtext {
  display: inline;
  padding-left: 10px;
  vertical-align: middle;
}

.head-text__main-subtext {
  display: inline;
  font-size: 72px;
  padding-left: 20px;
  vertical-align: middle;
}

.head-input {
  display: flex;
  width: 724px;
  height: 48px;
  border-radius: 4px;
  margin: 175px 36px 0 56px;
  padding: 0 12px;
  font-size: 24px;
  line-height: 28px;
  background: white;
}

.head-controls__confirm-btn {
  @include customise-elem();
  @include size-btn-main();
  position: absolute;
  right: 124px;
  top: 250px;
  padding: 0;
  border-radius: 50%;
  background-size: initial;
  background-color: $header-btn-color;
  background-image: url(../../../../assets/img/icons/ic-confirm-btn.svg);
  transition: .2s;

  &:hover {
    background-size: 40%;
    box-shadow: 12px 12px 36px 4px rgba(143, 142, 199, 0.3);
    background-color: #FF8383;
  }
}

.head-controls__add-btn {
  @include size-btn-minor();
  @include size-btn-main();
  position: absolute;
  right: 124px;
  top: 250px;
  padding: 0;
  border-radius: 50%;
  background-size: initial;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $header-btn-color;
  background-image: url(../../../../assets/img/icons/ic-add-element-btn.svg);
  transition: .3s;

  &:hover {
    background-size: 38%;
    box-shadow: 12px 12px 36px 4px rgba(143, 142, 199, 0.3);
    background-color: #FF8383;
  }
}

.head-controls__cancle-btn {
  @include customise-elem();
  @include size-btn-minor();
  position: absolute;
  left: 502px;
  top: 274px;
  border-radius: 50%;
  background-size: initial;
  background-color: $header-btn-color;
  background-image: url(../../../../assets/img/icons/ic-cancel-btn.svg);
  transition: .3s;

  &:hover {
    background-color: #FF8383;
    background-size: 38%;
    box-shadow: 12px 12px 36px 4px rgba(143, 142, 199, 0.3);
  }
}

// Список

.todo-container {
  position: absolute;
  width: 844px;
  min-height: 555px;
  border-radius: 12px;
  box-shadow: 12px 12px 36px 4px rgba(143, 142, 199, 0.3);
  background: white;
}

.list {
  list-style: none;
  margin-top: 355px;
  padding: 56px;
}

.list-item {
  display: flex;
  max-width: 400px;
  margin-top: 30px;
  text-align: left;
  align-items: center;
  color: $text-color-main;
  justify-content: space-between;
}

.list-item__check-input {
  position: absolute;
  display: none;

  &:checked+.list-item__ch-box {
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    border: solid 5px #B4B2FF;
    background-image: url(../../../../assets/img/icons/ic-checkbox_after.svg);
    transition: .1s;
  }
}

.list-item__ch-text {
  display: inline-block;
  padding: 4px 0 0 60px;
}

.list-item__ch-box {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 5px #8F8EC7;
  background-color: white;
  cursor: pointer;
  // box-shadow: 0 0 0 4px #8F8EC7;
}

.list-item__check {
  text-decoration: line-through;
  color: $text-color-hold;
}

.list-item__del-btn {
  @include elem-main();
  @include customise-elem();
  position: relative;
  left: 15px;
  cursor: pointer;
  background-image: url(../../../../assets/img/icons/ic-delete-btn.svg);
}

.nolist {
  display: block;
  position: absolute;
  padding: 0 96px;
  margin-top: 442px;
  font-size: 34px;
  color: $text-color-hold;
}