<div class="header">
  <div class="head-text">
    <span class="main-subtext">{{ todoService.checkedArr.length }}</span>
    <span class="head-subtext"> / {{ todoService.todolist.length }} </span>
    task
  </div>
  <input
    type="text"
    class="input"
    placeholder="enter your task..."
    *ngIf="show"
    [(ngModel)]="description"
    (keydown.enter)="addTodo()"
  />
  <div class="form-btn" *ngIf="show">
    <div class="confirmButton" (click)="addTodo()"></div>
    <div class="cancleButton" (click)="description = ''"></div>
  </div>

  <div class="addButton" *ngIf="!show" (click)="addInput()"></div>
</div>

<div class="list">
  <ul *ngIf="todoService.todolist.length; else noTodos">
    <li *ngFor="let todo of todoService.todolist">
      <label>
        <input
          type="checkbox"
          class="check-input"
          [checked]="todo.flag"
          (change)="checkTodo(todo.id)"
        />

        <div class="ch-box"></div>
        <span
          class="ch-text"
          [textContent]="todo.description"
          [class.check]="todo.flag"
          >{{ todo.description }}</span
        >
      </label>
      <span class="del-btn" (click)="removeTodo(todo.id)"></span>
    </li>
  </ul>
      <ng-template #noTodos>
        <p class="notodo">no tasks</p>
      </ng-template>
</div>

