<div class="header">
  <div class="head-text">
    <span class="head-text__main-subtext">{{ todoService.checkedArr.length }}</span>
    <span class="head-text__head-subtext"> / {{ todoService.todolist.length }} </span>
    task
  </div>
  <input
    type="text"
    class="head-input"
    placeholder="enter your task..."
		required
    *ngIf="show"
    [(ngModel)]="description"
    (keydown.enter)="addTodo()"
  />
  <div class="head-controls" *ngIf="show">
    <div class="head-controls__confirm-btn" (click)="addTodo()"></div>
    <div class="head-controls__cancle-btn" (click)="description = ''"></div>
  </div>
  <div class="head-controls__add-btn" *ngIf="!show" (click)="toggleInput()"></div>
</div>

<div class="todo-container">
  <ul class="list" *ngIf="todoService.todolist.length; else noTodos">
    <li class="list-item" *ngFor="let todo of todoService.todolist">
      <label>
        <input
          type="checkbox"
          class="list-item__check-input"
          [checked]="todo.flag"
          (change)="checkTodo(todo.id)"
        />

        <div class="list-item__ch-box"></div>
        <span
          class="list-item__ch-text"
          [textContent]="todo.description"
          [class.list-item__check]="todo.flag"
          >{{ todo.description }}</span
        >
      </label>
      <span class="list-item__del-btn" (click)="removeTodo(todo.id)"></span>
    </li>
  </ul>
      <ng-template #noTodos>
        <p class="nolist">no tasks</p>
      </ng-template>
</div>

