$header-height: 34px;
$toolbar-height: 40px;
$formula-height: 24px;
$row-height: 24px;
$info-cell-width: 40px;
$cell-width: 120px;
$db-header-height: 64px;
$border-color: #c0c0c0;
$primary-color: #3c74ff;

$text-color-main: #2E2E2E;
$text-color-hold: #D1D1D1;
$header-color: #B4B2FF;
$header-text-color: #FFFFFF;