<div class="header">
  <div class="head-text">
    <span class="main-subtext">1</span>
    <span class="head-subtext"> / {{ tasks }} </span>
    task
  </div>
  <input
    type="text"
    class="input"
    placeholder="enter your task..."
    [(ngModel)]="title"
    (keydown.enter)="addTodo()"
    #input
    *ngIf="show"
  />
  <div class="form-btn" *ngIf="show">
    <button class="cancleBtn" (click)="title = ''"></button>
    <button class="confirmBtn" (click)="addTodo()"></button>
  </div>
  <button class="addBtn" (click)="addInput()" *ngIf="!show"></button>
</div>
