.header {
position: absolute;
z-index: 2000;
width: 843px;
height: 311px;
background: #B4B2FF;
border-radius: 12px 12px 0px 0px;
align-items: center;
}


input{
display: flex;
width: 724px;
height: 48px;
background: #FFFFFF;
border-radius: 4px;
margin: 175px 36px 0px 56px;
font-size: 24px;
line-height: 28px;
padding: 0px 12px;
&:focus{
outline: none;
}
}

.head-subtext {
	display: inline;
	vertical-align: middle;
	font-size: 36px;
	padding-left: 10px;
	padding-top: 20rem;
}
.main-subtext {
	display: inline;
	vertical-align: middle;
	font-size: 72px;
	padding-left: 20px;
}

.head-text{
position: absolute;
	margin: 90px 66px;
	color: #FFFFFF;
	font-size: 36px;

}

.confirmBtn{
position: absolute;
right: 124px;
top: 249px;
padding: 0;
	cursor: pointer;
	border-color: transparent;
	background-color: transparent;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
width: 124px;
	height: 124px;
	// background-image: url(./img/Add_btn.svg);
	background-image: url(./img/Confirm_btn.svg);
}
.addBtn{
position: absolute;
right: 124px;
top: 249px;
padding: 0;
	cursor: pointer;
	border-color: transparent;
	background-color: transparent;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
width: 124px;
	height: 124px;
	background-image: url(./img/Add_btn.svg);
}

.cancleBtn{
position: absolute;
left: 502px;
top: 273px;
	cursor: pointer;
	border-color: transparent;
	background-color: transparent;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	width: 76px;
	height: 76px;
	background-image: url(./img/Cancel_btn.svg);
}




