
.list{
z-index: 0;
position: absolute;
width: 843px;
// left: 108px;
// top: 210px;
background: #FFFFFF;
// mix-blend-mode: normal;
box-shadow: 12px 12px 36px 4px rgba(143, 142, 199, 0.3);
border-radius: 12px;

}

ul {
	list-style: none;
	padding: 56px;
	margin-top: 355px;

}

li {
	display: block;
	border: #2E2E2E solid 1px;
	max-width: 400px;
	text-align: left;
	align-items: center;
  color: #2E2E2E;
  margin-top: 30px;
  justify-content: space-between;
}

.custom-checkbox{
display: none;
&:checked + .ch-box {
	background-image: url(./img/checkbox_after.svg);
}
}

.ch-text{
	display: inline-block;
	padding: 0px 46px 5px 46px;
}

.ch-box{
	padding: -20px;
	position: absolute;
	width: 34px;
	height: 34px;
	background-image: url(./img/checkbox_before.svg);
}

.check {
	color: #D1D1D1;
	text-decoration: line-through;
}

.del-btn{
	position: relative;
	left: 15px;
	width: 34px;
	height: 34px;
	// background-image: url(./img/delete.svg);
}
