<div>
  <ul *ngIf="todoService.storage.length; else noTodosList">
    <li *ngFor="let todo of todoService.storage; let i = index">
      <input type="checkbox" [checked]="todo.flag" (change)="check(todo.id)" />
      <span [class.check]="todo.flag">{{ i + 1 }} {{ todo.title }}</span>
      <button>edit</button>
      <button (click)="removeTodo(todo.id)">X</button>
    </li>
  </ul>

  <ng-template #noTodosList>
    <p style="text-align: center">Нет заданий</p>
  </ng-template>

  <!-- <li>
    <input type="checkbox" />

    <span>
      {{ inputValue }}
      <del *ngIf="flag">
        {{ inputValue }}
      </del>
    </span>
    <button>edit</button>
    <button>X</button>
  </li> -->
  <!-- <li>
		<input type="checkbox" name="" id=""><span>{{inputValue}} То, что нужно сделать</span>
		<button>edit</button>
		<button>X</button>
	</li>
	<li>
		<input type="checkbox" name="" id=""><span> <del>То, что уже сделано</del> </span>
		<button>edit</button>
		<button>X</button>
	</li> -->
</div>
