<div class="list">
  <ul *ngIf="todoService.storage.length; else noTodosList">
    <li *ngFor="let todo of todoService.storage">
      <label>
        <input
          type="checkbox"
          class="custom-checkbox"
          [checked]="todo.flag"
          (change)="check(todo.id)"
        />
        <span class="ch-box"></span>
        <span class="ch-text" [class.check]="todo.flag">{{ todo.title }}</span>
      </label>
      <button class="del-btn" (click)="removeTodo(todo.id)"></button>
    </li>
  </ul>

  <ng-template #noTodosList>
    <p style="text-align: center">Нет заданий</p>
  </ng-template>
</div>
